.CalendarDay__selected {
    background: #484848 !important; 
    color: white !important;
    // border-radius: 50%;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
    background: rgb(227, 222, 222) !important;
    color: $clrBLACK !important;
    border: 0px double $clrGRAY !important;
}

.arrow{
    display: flex;
    align-items: center;
}

.CalendarDay__selected_span {
    background: rgb(227, 222, 222) !important; 
    color: $clrBLACK !important;
    // border-radius: 50% !important;
}

.CalendarDay__default {
    border: 0px solid $clrGRAY !important;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before { //?
    border-right: 33px solid $clrRED !important;
}

.DateRangePickerInput_arrow_svg { //arrow
    display: none !important;
}

.DateRangePicker{
    width: 100%;

}
