.date-range-selector{
    display: flex;
    // padding: 1rem;

    .DateRangePickerInput {
border: unset;
    }

    .DateRangePickerInput_1 {
        display: flex;
        border-radius: 12px;
        background-color: unset !important;
        background: unset;
        outline: none !important;
        -webkit-appearance: none !important;
        text-align: center;
        justify-content: center;
    }

    
    .DateInput_input{
        background-color: unset !important;
        // display: flex;
        // padding: 0;
        
        
    }

    .DateRangePickerInput_1:first-child{

        .date-range-selector .DateInput:first-child{
           
        }
        
        
        .DateInput_input:first-child{
           
                // border-right: 1px solid #b0b0b0;

            
        }
    }

    

    .DateRangePickerInput_arrow {
        display: none;
        align-self: center;
        width: 40px;
    }
    .DateInput {
        background: unset;
        justify-content: center;
        text-align: center;
    }

    input {
        
    }
}

.guests-pick {
    
    display: flex;
    justify-content: space-between;
    div {
        gap: 1rem;

        h4 ,h3{
            font-size: 1rem;
        }
    } 
    .cursor {
        font-size: 40px;
    }
        
    
    // height: 2rem;
    font-size: 19px;
    // padding-left: 20px;
    // padding-right: 20px;
    padding: 20px;
    border-top: 1px solid #b0b0b0;

    
}

.range-date-selector {
//   padding: 0;
}
.picker-container {
    // padding-top: 5px;
    // padding-bottom: 5px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    // border: 1px grey solid;
    box-sizing: border-box;
}

.DateRangePickerInput_1 {
    justify-content: center;
}

.DateInput_input {
    text-align: center;
}