.statics-container{
    padding: 0 20%;
    *{
        text-align: left;
        h1{

            font-family: Airbnb-Cereal-Bold;
        }
        h3{
            text-decoration: underline;
            font-size: 1rem;
        }
    }
}