.trip-card-container {
    display: flex;
    padding: 1rem;
    padding-left: 0;

}

.trip-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}


.trip-card {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    column-gap: 1rem;

    div {
        width: 100%;
    }
}

.trip-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;



    div:first-child {
        font-size: 1rem;
        font-family: Airbnb-Cereal-Medium;
        color: $clrBLACK;
    }

    div:not(first-child) {
        font-size: 0.9rem;
        font-family: Airbnb-Cereal-Book;
        color: #717171
    }

    display: flex;
    flex-direction: column;

}

.trip-card img {
    border-radius: 12px;
    width: 6.8125rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    

}

.trip-card-name {
    font-family: Airbnb-Cereal-Bold;
}

.trips-search-card {
    .left-side-trip{
        flex-grow: 1;
    }
    .right-side-trip{
        flex-grow: 5;

        background-image: url("https://image.shutterstock.com/image-photo/beautiful-summer-tropical-beach-white-260nw-1988709386.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    border: 0.5px lightgray solid;
    border-radius: 10px;
    margin:2rem auto 2rem 0;
    a {
        text-decoration: none;
    }
    *{
        font-family: Airbnb-Cereal-Light;
    }
}