/* MOBILE ONLY  */

@media (max-width: 640px) {
    .gallery-grid {
        gap: 2px;
    }

    .right-side-trip {
        display: none;
    }

    .left-side-trip {
        grid-column: 1/-1;
        border-radius: 12px;
        border: 1px lightgray solid;
    }

    .secondary-filter {
        margin-top: 75px;
    }

    .hidden-from-mobile {
        display: none;
        visibility: hidden;
    }

    .stock-margin,
    .stock-margin-narrow {
        grid-template-columns: 10px 1fr 10px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    .secondary-header-stay-details {
        flex-direction: column;
    }

    .footer-desktop {
        visibility: hidden;
    }

    .nav-link-parent {
        display: none;
    }

    .small-filte-parent {
        pointer-events: none;
        input {
            pointer-events: all;
        }
    }

    .app-header-main {
        visibility: hidden;
    }

    .mobile-header {
        display: unset !important;
        padding: 0.5rem;

        .right,
        .left {
            display: none;
        }

        .stock-margin-center {
            grid-column: unset !important;
        }

        .flex-col {
            display: unset;
        }

        .main-nav {
            display: unset !important;
        }

        .small {
            display: unset !important;
        }

        .total-filter {
            justify-content: space-between;
        }
    }

    .become-a-host {
        height: unset !important;
        margin-top: 0.5rem !important;
        h1{
            max-width: 170px 
        }
    }

    .main-page-head {
        height: 40vh;
    }
    .home-page-card-container {
        margin-top: 0;
    }
    .hero h1 {
        font-size: 1.5rem;
    }

    .home-page-card-container .home-page-card-line {
        grid-template-columns: 1fr 1fr;
    }

    .user-menu-container {
        position: fixed;
        bottom: 43px;
        border-radius: 0;
        box-shadow: unset;
        width: 98%;
        >li{
            border-top: 1px solid $clrGRAY;
        }
    }
    .form-container {
        width: 320px;
        p {
            display: none;
        }
    }
}

@media (min-width: 640px) {
    .gallery-grid {
        gap: 8px;
    }

    .trip-cards-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .left-side-trip {
        grid-column: 1;
    }

    .main-nav {
        .logo {
            display: none;
        }
    }
    .secondary-filter {
        margin-top: 170px;
    }

    .main-reviews {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }


    .stock-margin {
        grid-template-columns: 60px 1fr 60px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .mobile {
        display: none;
        visibility: hidden;
    }

    .footer-mobile {
        visibility: hidden;
    }

    .mobile-header {
        visibility: hidden;
        grid-column: 2;
    }

    // .logo{
    //     display: none;
    //     visibility: hidden;
    // }
}

// /* LARGE */

@media (min-width: 920px) {
    .hidden-from-tablet {
        display: unset;
        visibility: visible;
    }

    .main-nav {
        .logo {
            display: -webkit-box;
        }
    }

    .secondary-filter {
        margin-top: 170px;
    }

    .main-reviews {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .stay-bellow-container {
        grid-template-columns: 3fr 1fr;
    }

    .features-container {
        padding-right: 15%;
        flex: 80% 1;
    }

    .stock-margin {
        grid-template-columns: 60px 1fr 60px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .mobile {
        display: none;
        visibility: hidden;
    }

    .footer-mobile {
        visibility: hidden;
    }

    .mobile-header {
        visibility: hidden;
        grid-column: 2;
    }
}
