/* MOBILE ONLY  */

@media (max-width: 500px) {
    .hidden-from-mobile {
        display: none;
        visibility: hidden;
    }

    .stock-margin,
    .stock-margin-narrow {
        grid-template-columns: 10px 1fr 10px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    .secondary-header-stay-details {
        flex-direction: column;
    }

    .footer-desktop {
        visibility: hidden;
    }

    .nav-link-parent {
        display: none;
    }

    .small-filte-parent {
        pointer-events: none;
        input {
            pointer-events: all;
        }
    }

    .app-header-main {
        visibility: hidden;
    }

    .mobile-header {
        display: unset !important;
        padding: 0.5rem;

        .right,
        .left {
            display: none;
        }

        .stock-margin-center {
            grid-column: unset !important;
        }

        .flex-col {
            display: unset;
        }

        .main-nav {
            display: unset !important;
        }

        .small {
            padding: 0.5rem;
            display: unset !important;
        }

        .total-filter {
            justify-content: space-between;
        }
    }

    .become-a-host,
    .main-page-head {
        display: none;
    }

    // , .home-page-card-line
    .home-page-card-container .home-page-card-line {
        grid-template-columns: unset !important;
        display: flex;
        flex-direction: column;
        // padding: 0 20%;
    }

    .home-page-card-container {
        margin-top: 5rem;
    }

    .user-menu-container {
        position: fixed;
        top: calc(100vh - 215px);
        right: 15px;
        width: unset;
        padding: 5px;
    }
}

@media (max-width: 580px) {
    .form-container {
        width: 320px;
        p {
            display: none;
        }
    }
}

@media (min-width: 501px) {
    .main-reviews {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .stay-bellow-container {
        grid-template-columns: 3fr 1fr;
    }

    .features-container {
        padding-right: 15%;
        flex: 80% 1;
    }

    .stock-margin {
        grid-template-columns: 60px 1fr 60px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .mobile {
        display: none;
        visibility: hidden;
    }

    .footer-mobile {
        visibility: hidden;
    }

    .mobile-header {
        visibility: hidden;
        grid-column: 2;
    }
}
