


.stay-capacity {
    color: rgb(30, 28, 28);
    font-size: 1rem;
}

.features {
    border-top: 1px solid rgb(220, 217, 217);
    margin-top: 25px;
}

.feature-logo {
    line-height: 3;
}

.feature-block {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stay-description {
    border-top: 1px solid rgb(220, 217, 217);
    line-break: strict;
    margin-top: 50px;
}

.stay-description-text {
    margin-top: 20px;
}




